<!DOCTYPE html>
<html ng-app="TTTApp">
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
      <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script> 
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<script src="main.js"></script>
	<title>Jackie's TicTacToe</title>
</head>
<body>

	 <div ng-controller="TTTController" ng-model="gameController">
        <h3>Checking changes</h3>
        <!-- ng-model = "gameContainer" -->

        <p>TTT Reference: Step 1</p>
        CLICK COUNTER: {{gameContainer.movecounter}}<br>
        X Win Counter: {{gameContainer.xWin}}<br>
        O Win Counter: {{gameContainer.oWin}}
        
        <div class="theBox">
            <div ng-repeat="currentCell in gameContainer.cellList">

                <div class="allCellsAlways" ng-click="playerPicks(currentCell)"
                ng-class="{xclass: currentCell.status=='X', oclass: currentCell.status =='O'}">
                
                Cell Contents: {{currentCell.status}}
                </div>

        </div>
        <div class="border"></div>
        <button ng-click="resetGame()">RESET GAME</button><br>
    </div>
    <div>
        <button ng-click="choosePlayer()" ng-disabled="gameContainer.isDisabled">CHOOSE FIRST PLAYER</button>
        checking: {{gameContainer.firstString}}
        </div>
    <div class="tie">{{gameContainer.tieGame}}</div><br>
    <div class="win">{{gameContainer.writeWin}}</div>
</div>

</body>
</html>

