html, body{
	height: 100%;
}

/*.wrapper{
	margin: 0 auto;
	height: 25%;
	width: 50%;
	border: 1px solid black;
}

.square{
	width: 33%;
	height: 100%;
	border: 1px solid;
	float: left;
}
.clearboth{
  		clear: both;
  	}*/

 .wrapper {
 	position: relative;
 	width: 468px;
	height: 468px;
		margin-left: 25%;

 	 }

 .theBox {
	width: 468px;
	height: 468px;
    border: 10px solid black;
    color: white;
    margin: 0 auto;
    position: absolute;
    /*background-image: url(images/dog.jpg);*/

}

.border {
	width: 455px;
	height: 455px;
	border: 10px solid black;
	z-index: 5px;
	margin: 0 auto;

}
/*.fillImageX {
	background-image: url(images/dog.jpg);
}*/

.fillImageX {
	background-image: url(images/dog.jpg);
	background-size: cover;
	z-index: -50;
	position: absolute;
	width: 268px;
	height: 268px;
	

}

.fillImageO {
	background-image: url(images/dog2.jpg);
	background-size: cover;
	z-index: -100;
	position: absolute;
	width: 468px;
	height: 468px;


}

.allCellsAlways {
    width: 150px;
	height: 150px;
	display: inline-block;
    float: left;
    padding: 0px;
    z-index: -5px;
    border-style: solid;
    border-color: blue;
}

.xclass {
	background-color: transparent;
}
.oclass {
	background-color: transparent;
}


.blankclass {
	background-color: black;
}