html, body{
	height: 100%;
}

/*.wrapper{
	margin: 0 auto;
	height: 25%;
	width: 50%;
	border: 1px solid black;
}

.square{
	width: 33%;
	height: 100%;
	border: 1px solid;
	float: left;
}
.clearboth{
  		clear: both;
  	}*/

 .theBox {
	width: 468px;
	height: 468px;
    border: 10px solid black;
    color: white;
    margin: 0 auto;
}

.border {
	width: 455px;
	height: 455px;
	border: 10px solid black;
	z-index: 5px;
	margin: 0 auto;

}

.allCellsAlways {
    width: 150px;
	height: 150px;
	display: inline-block;
    float: left;
    padding: 0px ;
    z-index: -5px;
    border-style: solid;
    border-color: blue;
}

.xclass {
	background-color: red ;
}

.oclass {
	background-color: blue ;
}

.blankclass {
	background-color: gray ;
}