html{
	height: 100%;
	background: url(images/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	max-width: 100%;
	
}
body{
	max-height: 100%;
	max-width: 100%;
	font-family: 'Roboto Condensed';
	

	
}

.img {

	margin: -7px auto auto 390px;
	position: fixed;
	
}




.win {
	font-size: 30px;
}

.tie {
	font-size: 30px;
}

/*.wrapper{
	margin: 0 auto;
	height: 25%;
	width: 50%;
	border: 1px solid black;
}

.square{
	width: 33%;
	height: 100%;
	border: 1px solid;
	float: left;
}
.clearboth{
  		clear: both;
  	}*/

/* .wrapper {
 	position: relative;
 	width: 468px;
	height: 468px;
		margin-left: 25%;

 	 }*/

 .theBox {
	width: 468px;
	height: 468px;
    color: black;
    margin: 15px auto;

    /*position: absolute;*/
    /*background-image: url(images/dog.jpg);*/
    background: url(images/tictac_bg2.png) no-repeat center center fixed;
  
    /*background-color: rgba(255, 255, 255, 0.5);*/
   
  

}


/*.border {
	width: 455px;
	height: 455px;
	border: 10px solid black;
	z-index: 5px;
	margin: 0 auto;

}*/

/*.wrapper {
	text-align: center;
	margin: 0 auto;
	position: relative;
}*/

.allCellsAlways {
    width: 150px;
		height: 150px;
		display: inline-block;
    float: left;
    padding: 0px;
    /*z-index: -5px;*/
    border-style: solid;
    border-color: transparent;
    margin: 0px auto auto auto;
   
  


        /*change to transparent*/
}

.xclass {
	/*background-color: transparent;*/
	height: 150px;
	width: 150px;
	background: url(images/tictac_bg_red.png) no-repeat center center fixed;
	  opacity: 1.0;
  filter: alpha(opacity=40);

	
/*	background-position: 50% 37%;
	position: static;*/
	/*bottom: 100px;*/
	/*background-size: cover;*/
	
}

.xclass:hover {
    opacity: 0.8;
    filter: alpha(opacity=40);

   }

.oclass {
	/*background-color: transparent;*/
	height: 150px;
	width: 150px;
	background: url(images/tictac_bg_blue.png) no-repeat center center fixed;
	  opacity: 1.0;
  filter: alpha(opacity=40);
/*	background-position: 50% 37%;
	position: static;*/
/*	position: relative;
	bottom: 50px;*/
	/*background-size: fixed;*/
	
}

.oclass:hover {
    opacity: 0.8;
    filter: alpha(opacity=40);

   }


/*.blankclass {
	background-color: black;
	background: url(images/check_size.jpg);
	
}*/