html, body {
  height: 100%;
}

.wrapper {
  height: 50%;
  border: 1px solid black;
}

.box {
  height: 100%;
  width: 33%;
  float: left;
  border: 1px solid blue;
}

.instructorBox {
  height: 14%;
  border: 1px solid red;
}

.red {
  background-color: red;
}

.originalAnimation {
  height: 20%;
  border: 1px solid green;  
}

.next {
  margin-top: 80%;
  transition: all 5s linear;
}